@model IEnumerable<PI_OTDAV_Domain.Entities.notification>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayLu</title>

</head>
<body>
    <br /><br /><br />
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-head">
                <center><div><h4>Consulter l'historique <span class="text-primary">des actions</span> faite par vous</h4></div></center>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <div class="list-group">
                        @foreach (var item in ViewBag.result)
                        {
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><span class="text-primary">Type :</span> @item.type</h5>
                                    <small class="text-muted">@item.dateNotification</small>
                                </div>
                                <p class="mb-1">@item.description</p>
                                <small class="text-muted">@item.destination.FirstName  @item.destination.LastName</small>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
